* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    /* header class tags are now targeting a box tagged header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.max-height-200 {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* merged benefit lead, brand, and cost in .benefit-lbc */
.benefit-lbc {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* gave all the benefit images a ben image class */
.ben-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* combined these redundant parameters into one element */
.SOS {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}
/* merged search, online, and social into .sos */
/* set these parameters to all h2 elements... */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* the footer elements no longer need the dot */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* ...and added an id to the footer element to overide the h2 preset */
#footelem {
    font-size: 20px;
}
